/*******************************
            Global
********************************/

body {
    font: 14px/20px 'monospace', 'Helvetica Neue', sans-serif;
    margin: 0
}

a {
    outline: none
}

.displayNone {
    display: none
}
/*******************************
            Navigation
********************************/
.site-nav::after {
    content: "";
    display: block;
    clear: both
}

.nav-logo {
    margin: 10px
}

.site-nav > ul {
    float: right;
    margin: 25px 15px;
    padding: 0;
    list-style: none
}

.site-nav ul li {
    float: left
}

.site-nav ul li a {
    float: left;
    margin: 0;
    padding: 0 8px 0 5px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 0 0 10px #444;
    transition: text-shadow .2s ease-in-out;
    text-decoration: none
}

.site-nav ul li a:hover {
    text-shadow: none
}

.site-nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 3px;
    height: 2px;
    background: #fff;
    transition: width .3s ease-in-out
}

.site-nav ul li a:hover::after {
    width: 100%
}

.site-nav ul li.active>a::after {
    width: 100%
}

.active>a {
    text-shadow: none !important
}

/* DropDown */
.dropbtn {
    display: none;
    float: right;
    margin: 15px;
    cursor: pointer;
    border-bottom: 17px double #fff; 
    border-top: 6px solid #fff;
    height: 5px; 
    width: 30px
}

.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    top: 50px;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}

.dropdown-content a {
    text-decoration: none;
    display: block;
}

.show {
    display:block;
}

/* MDROPDOWN-MENU <-----------------------------------@ 590px */
@media screen and (max-width: 590px) {
    .site-nav ul {
        display: none
    }
    .dropbtn {
        display: inline-block
    }
}

/*******************************
        Cloud animation
********************************/
#cl-container {
    max-width: 1170px;
    clear: both;
    margin: 0 auto
}

.hero-image {
    background: url(images/hero-bg.gif) no-repeat center top fixed;
    background-size: cover;
    position: relative
}

.hero-overlay {
    background: rgba(7, 133, 242, 0.6)
}


#image-frame {
    position: relative
}

#image-frame>div,#image-frame img {
    position: absolute
}

#cl-up-left {
    left: 190px;
    top: 75px
}

#cl-left {
    left: 15px;
    top: 235px
}

#cl-top {
    top: 0px;
    left: 440px
}

#cl-up-right {
    top: 120px;
    right: 175px;
    width: 300px
}

#cl-right {
    right: 15px;
    top: 235px;
    width: 400px
}

#cl-logo {
    top: 180px;
    left: 320px;
    position: absolute;
    width: 330px
}

/* cloud's nav links*/
a.cl-link {
    text-decoration: none;
    position: relative;
    font-size: 36px;
    font-family: sans-serif;
    padding: 4px 10px;
    border-radius: 5px;
    border: 2px solid #3fa9f4;
    background-color: #fff;
    color: #0785f2
}

a.cl-link:hover {
    background-color: #3fa9f4;
    color: #fff
}

#cl-right a.cl-link {
    top: 105px;
    left: 100px
}

#cl-top a.cl-link {
    top: 105px;
    left: 82px
}

#cl-up-right a.cl-link {
    top: 68px;
    left: 89px
}

#cl-left a.cl-link {
    top: 105px;
    left: 115px
}

#cl-up-left a.cl-link {
    top: 95px;
    left: 102px
}
/* sail animation */
.cl-animate {
    -webkit-animation-duration: 45s;
    animation-duration: 45s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

@keyframes sail {
    0%, 100% {transform: translateX(0)}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-50px)}
    20%, 40%, 60%, 80% {transform: translateX(50px)}
}
.sail {
    -webkit-animation-name: sail;
    animation-name: sail
}

.sail:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.mobile-logo {
    display: none;
    margin: 0 auto
}

@media screen and (max-width: 768px) {
    .mobile-logo {
        display: block
    }
    .fixed-height {
        height: 740px
    }
}

/* animation delay */
.delay05 {
    animation-delay: 1.5s
}

.delay10 {
    -moz-animation-delay: 2.5s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}

.delay15 {
    animation-delay: 3.5s
}

.delay20 {
    animation-delay: 4s
}

/*******************************
        Extended cloud
********************************/
#ext-cl-container {
    margin: 0 auto;
    width: 90%;
    height: 585px;
    background: url(../assets/images/cl-expand.png) no-repeat center;
    background-size: contain
}

#ext-cl-container > div {
    padding: 20px
}

#ext-cl-container h1 {
    text-align: center;
    color: #1d7af7
}


/*******************************
        Contact tab
********************************/
form {
    width: 800px;
    margin: 70px auto
}

#name, #email, #message {
    color: black;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: white;
    border: 2px solid #1d7af7;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0
}

#name:focus, #email:focus, #message:focus {
    border: 2px solid #3fa9f5
}

textarea {
    height: 168px;
    line-height: 150%;
    resize: vertical
}

.submit {
    text-align: center;
    color: #fff;
    background: #1d7af7;
    border-radius:5px;
    border:0;
    cursor:pointer;
    font-size:24px;
    padding: 10px;
    font-weight: 700
}
.submit:hover {
    background:#3fa9f5
}

.red {
    border-color: #dd0000 !important
}

.red:hover {
    border-color: #dd0000 !important
}

.red:focus {
    border-color: red !important
}
